.mail {
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  font-size: 15px;
  display: flex;
  width: 100%;
  max-width: 100%;
}

.mail label {
  font-size: 1.5em;
}

.mail input,
textarea {
  font-family: Noto Sans JP, sans-serif;
  color: white;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 1.3em;
  resize: none;
  width: 100%;
  /* Сделайте ширину текста на 100% своего контейнера */
  max-width: 100%;
  /* Убедитесь, что Textarea не превышает ширину своего контейнера */
  box-sizing: border-box;
  /* Включите накладку и границу в общую ширину и высоту элемента */
}

.mail button {
  width: 100%;
  /* Сделайте ширину текста на 100% своего контейнера */
  max-width: 100%;
  /* Убедитесь, что Textarea не превышает ширину своего контейнера */
  box-sizing: border-box;
  /* Включите накладку и границу в общую ширину и высоту элемента */
  font-family: Noto Sans JP, sans-serif;
  background-color: #422777;
  color: white;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
}

.mail button:hover {
  background-color: #ffffff;
  border-color: black;
  color: black;
}